@font-face {
	font-family: 'Comic Sans MS';
	src: url(../../assets/fonts/ComicSansMS.woff2) format('woff2'),
	url(../../assets/fonts/ComicSansMS.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}